$brand-primary:#FF6B6B;
$brand-secondary:#2F4766;

// grays
$gray-primary:#707070;
$gray-secondary:#363636;
$gray-tertiary:#AEAEAE;

$black:#000; //dark
$white:#fff;//light

$dark:$black; 
$light:$white;

